html {
    font-family: Oxanium;
    background-color: var(--darkest-bg-color);
    color: var(--text-primary-color);
}

:root {
    --darkest-bg-color: rgb(16, 14, 24);
    --highlight-bg-color: rgb(45, 40, 61);
    --highlight-bg-color-translucent: rgba(45, 40, 61, 0.719);
    --highlight-primary-bg-color-translucent: rgba(212, 186, 39, 0.6);
    --highlight-primary-bg-color: rgb(212, 186, 39);
    --highlight-secondary-bg-color-translucent: rgba(255, 255, 255, 0.6);
    --highlight-secondary-bg-color: rgba(255, 255, 255, 0.8);
    --highlight-input-color: rgb(70, 63, 95);
    --accent-color: rgb(37, 32, 56);
    --text-terciary-color: rgb(126, 126, 126);
    --text-secondary-color: rgb(99, 171, 230);
    --text-primary-color: rgb(255, 255, 255);
    --min-width: 412px;

    --min-element-height: 40px;
    --min-btn-width: 90px;
    --min-input-width: 140px;
    --border-radius-element: 10px;
}

* {
    padding: 0;
    margin: 0;
}

h2 {
    color: var(--text-primary-color);
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 2.5rem;
    font-weight: 200;
}

h3 {
    text-transform: uppercase;
    font-size: 2rem;
    color: var(--text-secondary-color);
    font-weight: 200;
    background-color: linear-gradient(to right, rgba(16, 14, 24, 1), rgba(16, 14, 24, 0.2));
    margin-bottom: 20px;
    margin-top: 20px;
}

#cartBadge {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    width: max-content;
    max-height: fit-content;
    font-size: 1rem;
    font-weight: 400;
    visibility: hidden;
    color: black;
    transition: 0.3s;
    background-color: var(--highlight-primary-bg-color);
}

p,
span {
    font-family: 'Segoe UI', Roboto, Helvetica, sans-serif;
    font-size: large;
    color: var(--text-primary-color);
    font-weight: 100;
}



.main-header {
    position: sticky;
    display: flex;
    align-items: center;
    max-height: 100px;
    width: 100%;
    top: 0;
    z-index: 5;

    nav {
        width: calc(100% - 20px);
        padding: 0px 20px 0px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        transition: all 0.5s;
        text-transform: uppercase;
        background-color: var(--highlight-bg-color-translucent);
        backdrop-filter: blur(10px);

        span img {
            max-height: 100px;
            padding-left: 20px;
        }

        .btn-show {
            color: var(--text-secondary-color);
            display: none;
        }

        input {
            display: none;
        }

        ul {
            list-style: none;
            display: flex;
            align-items: center;
            height: 100%;

            li {
                position: relative;
                display: flex;
                flex-direction: row;
                height: 100px;

                a {
                    font-weight: 300;
                }

                label {
                    font-weight: 100;
                }

                input {
                    visibility: hidden;
                }

                a,
                label {
                    text-decoration: none;
                    padding: 10px;
                    color: white;
                    height: calc(100% - 20px);
                    width: calc(600px / 6);
                    align-content: center;
                    justify-items: center;
                    text-align: center;

                    &:hover {
                        transition: all 0.3s;
                        background-color: var(--darkest-bg-color);
                    }
                }

            }
        }
    }
}


.main-section {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-size: cover;
}

#intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    height: 70vh;
    max-width: 100%;

    cite {
        position: absolute;
        right: 0;
        padding: 20px;
        display: flex;
        color: black;
        font-weight: 500;
        text-transform: uppercase;
        background-color: rgba(255, 255, 255, 0.8);
    }

    #contentIntro {
        position: absolute;
        left: 0;
        bottom: 20vh;
        display: flex;
        flex-direction: column;
        border-top: 2px solid;
        border-color: var(--text-terciary-color);
        backdrop-filter: blur(20px);
        text-transform: uppercase;
        padding: 20px;
        width: calc(100% - 40px);
        height: fit-content;

        h1 {
            font-size: 3rem;
            font-weight: 200;
            color: white;
        }

        p {
            font-weight: 100;
            font-size: large;
        }

        background: linear-gradient(to right, rgba(16, 14, 24, 0.315), transparent);
    }

    #introVideo {
        object-fit: cover;
        position: relative;
        z-index: 0;
        overflow-y: hidden;
        min-height: 70vh;
    }

}

.section-content {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid;
    border-color: var(--text-terciary-color);
}

.section-text {
    text-align: left;
    width: calc(40% - 40px);
}

.section-multimedia {
    display: flex;
    margin: 10px;
    overflow: hidden;
    width: calc(60% - 20px);
    justify-content: space-between;

    .section-img {
        object-fit: cover;
        width: calc(30% - 20px);

        img {
            width: 100%;
        }
    }

    .section-video {
        object-fit: cover;
        width: calc(70% - 20%);

        video {
            width: 100%;
        }
    }
}

.section-table {
    overflow-x: scroll;

    table {
        border-collapse: collapse;
        border-width: 4px;
        border-color: var(--accent-color);
        min-width: none;
    }

    tr {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    th {
        font-weight: 300;
        padding: 10px;
        font-size: medium;
        background-color: var(--accent-color);
        color: var(--text-secondary-color);
    }

    td,
    span {
        color: var(--text-primary-color);
        font-size: 600;
        font-weight: 200;
        padding: 10px;
    }
}

.card-container {
    padding: 20px 300px 20px 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    overflow-y: hidden;

    .card {
        width: 100%;
        height: 50vh;
        background-color: var(--highlight-bg-color);
        transition: all 0.3s;

        &:hover {
            background-color: var(--darkest-bg-color);
            border: 2px solid;
            border-color: var(--text-terciary-color);
            border-spacing: 10px;
        }

        .card-image {
            object-fit: cover;
            max-height: calc(50% - 30px);
            height: calc(50% - 30px);
            overflow: hidden;

            img {
                overflow: hidden;
                width: 100%;
                min-width: fit-content;
                max-width: 100%;
                height: 100%;
                justify-self: center;
            }
        }

        .card-content {
            display: block;
            align-content: end;

            .card-title {
                display: block;
                text-transform: uppercase;
                padding: 10px;
            }

            .card-text {
                display: block;
                padding: 10px;
            }
        }
    }

    .card-primary {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column: 1 / span 3;

        .card-image {
            grid-column: 1 / span 2;
            grid-row: 1 / span 2;
            min-height: 100%;
            width: 100%;
            justify-content: center;

            img {
                height: 100%;
                width: fit-content;
                min-height: fit-content;
                min-width: 400px;
            }
        }

        .card-content {

            .card-title,
            .card-text {
                grid-column: 3;
                grid-row: 1;
            }
        }

    }
}


.card-mc {
    background-image: url("../multimedia/image/master-chief.jpg");
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input,
button {
    border: 0pt;
    box-shadow: none;
    padding: 10px;
}


.footer {
    display: flex;
    padding: 20px;
    width: calc(100% - 40px);
    justify-content: space-around;
    align-items: baseline;
    background-color: var(--highlight-bg-color);

    .footer-data {
        display: flex;
        flex-direction: column;
        width: calc(60% - 20px);
        row-gap: 20px;

        .links {

            a {
                gap: 10px;
                text-decoration: none;
                color: whitesmoke;

                &:hover {
                    transition: 0.5s;
                    background-color: var(--highlight-bg-color);
                }
            }
        }

        .social-media,
        .platforms {
            display: flex;
            flex-direction: row;
            gap: 20px;

            svg {
                height: 50px;
            }
        }

        .social-media {

            .svg-twitter,
            .svg-instagram,
            .svg-tiktok,
            .svg-youtube,
            .svg-discord,
            .svg-facebook,
            .svg-twitch {
                height: 50px;
                width: 50px;
                display: flex;
                padding: 5px;
                align-items: center;
                justify-content: center;
                position: relative;
                transition: all 0.2s ease-in-out;
                border-radius: 200px;

                svg {
                    path {
                        fill: #fff;
                    }

                    width: 40px;
                }
            }

            .svg-twitter {
                &:hover {
                    background-color: #00b3e1;
                }
            }

            .svg-instagram {
                &:hover {
                    background-color: #f00075;
                }
            }

            .svg-tiktok {
                &:hover {
                    background-color: #25f4ee;
                }
            }

            .svg-youtube {
                &:hover {
                    background-color: red;
                }
            }

            .svg-discord {
                &:hover {
                    background-color: #5865f2;
                }
            }

            .svg-facebook {
                &:hover {
                    background-color: #3c64a6;
                }
            }

            .svg-twitch {
                &:hover {
                    background-color: #9146ff;
                }
            }

        }
    }

    .footer-form {
        display: flex;
        flex-direction: column;
        justify-content: start;
        min-width: calc(40% - 40px);

        fieldset {
            margin: 20px 0 20px 0;
            padding: 20px;
            font-weight: thin;
            border-color: var(--text-terciary-color);
            width: calc(100% - 40px);

            input[type='text'],
            input[name='email'],
            select {
                border: 0px;
                padding: 10px;
                background-color: var(--highlight-input-color);
                color: white;
                width: calc(100% - 20px);
                margin: 10px 0 20px 0;
            }

            .form-actions {
                display: flex;
                flex-direction: row;
                justify-content: end;

                .btn-primary,
                .btn-secondary {
                    width: calc(var(--min-btn-width) * 2);
                }
            }

            label {
                margin-top: 10px;
            }

            textarea {
                resize: none;
                background-color: var(--highlight-input-color);
                margin: 10px 0 20px 0;
                width: 100%;
            }

            input:focus,
            textarea:focus,
            select:focus {
                outline: none;
            }
        }
    }
}

.btn-secondary,
.btn-primary {
    margin: 5px;
    padding: 5px;
    border: solid 1px;
    width: var(--min-btn-width);
    background-color: transparent;

    input,
    button {
        min-height: var(--min-element-height);
        text-transform: uppercase;
        font-weight: 200;
        width: 100%;
        height: 100%;
    }
}

.btn-primary {

    border-color: var(--highlight-primary-bg-color);

    input,
    button {
        color: rgb(0, 0, 0);
        background-color: var(--highlight-primary-bg-color);

        &:hover {
            background-color: var(--highlight-primary-bg-color-translucent);
        }
    }

}

.btn-secondary {

    border-color: var(--highlight-secondary-bg-color);

    input,
    button {
        color: black;
        background-color: var(--highlight-secondary-bg-color);

        &:hover {
            background-color: var(--highlight-secondary-bg-color-translucent);
        }
    }

}

.chip-group {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: end;

    p {
        font-weight: bold;
        width: fit-content;
        padding: 10px;
        text-transform: uppercase;
        font-size: large;
        color: black;
        margin: 0 20px 0 0;
        background-color: var(--highlight-secondary-bg-color-translucent);
    }
}

.product-top-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: end;
    align-items: center;
    background-color: var(--highlight-bg-color);
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;

    .btn-order-container {
        height: var(--min-element-height);
        width: calc(var(--min-btn-width) * 2);
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        transition: all 0.3s ease-in-out;

        .btn-order-input {
            width: 100%;
            height: 100%;
            visibility: collapse;
            position: absolute;
        }

        .btn-order-text {
            font-weight: 200;
            text-transform: uppercase;
            font-size: 1rem;
            width: 60%;
        }

        label.material-symbols-outlined {
            font-weight: 100;
        }

        &:hover {
            background-color: var(--accent-color);
        }
    }
}

.product-card-container {
    display: grid;
    width: calc(100% - 40px);
    height: auto;
    padding: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 40px;

    .product-card {
        position: relative;
        overflow: hidden;
        background-color: var(--highlight-bg-color);
        padding: 20px;
        height: 50vh;
        min-height: 400px;
        transition: all 0.5s;

        .product-card-image {
            object-fit: contain;
            background-size: cover;
            overflow: hidden;
            height: calc(50% - 40px);

            .cover-container {
                position: relative;
                display: flex;
                width: 100%;
                height: 100%;
                overflow: hidden;
                justify-content: center;
                backdrop-filter: blur(5px);
                background-color: var(--highlight-bg-color-translucent);

                img {
                    position: absolute;
                    height: 100%;
                }
            }
        }

        .product-card-title {
            text-wrap: nowrap;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: calc(100% - 20px);
            min-width: calc(100% - 20px);
            color: white;
            font-size: 1.5rem;
            font-weight: 300;
            text-transform: uppercase;
            padding: 20px 0 20px 0;
            border-bottom: solid 2px var(--text-primary-color);
        }

        .product-card-text {
            display: block;
            text-overflow: ellipsis;
            line-height: 1.6rem;
            max-height: 4.8rem;
            overflow: hidden;
        }

        .product-card-bottom {
            position: absolute;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            bottom: 20px;
            width: calc(100% - 40px);
            background-color: var(--highlight-bg-color);

            .chip-group {
                justify-content: start;
            }

            .product-card-price,
            .product-card-price-discount {
                align-self: center;
                font-size: 1.7rem;
                font-weight: 400;
                color: var(--text-primary-color);
            }

            .product-card-price-discount {
                color: var(--text-secondary-color);
                font-size: 2rem;
                font-weight: 500;
            }

            .product-card-discount {
                align-self: center;
                font-size: 1.5rem;
                font-weight: 300;
                color: var(--text-terciary-color);
            }
        }
    }
}


.tooltip {
    position: relative;
    display: inline-block;
    overflow: visible;

    .tooltiptext {
        visibility: collapse;
        width: 0;
        top: 25%;
        left: 0;
        position: absolute;
        z-index: 2;
        text-align: center;
        font-size: 1rem;
        font-family: 'Segoe UI';
        padding: 10px;
        border-radius: var(--border-radius-element);
        background-color: #000000bd;
        color: #fff;
        transition: all 0.2s ease-out;
    }

    &:hover>.tooltiptext {
        visibility: visible;
        width: fit-content;
    }
}

.side-bar {
    position: fixed;
    top: 100px;
    right: 0;
    width: 0;
    height: calc(100vh - 40px);
    background-color: var(--accent-color);
    padding: 20px;
    visibility: collapse;
    transition: all 0.2s ease-out;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;

    .cart-total {
        bottom: 20px;
        right: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-top: solid 2px white;
        max-height: 100px;
        justify-content: space-between;

        #total {
            font-size: 2rem;
            font-weight: 400;
        }
    }
}

.btn-cart-container li {
    position: relative;
}

.cart-card-container {
    display: block;
    width: calc(100% - 40px);
    height: calc(80% - 40px);
    overflow-y: auto;

    .cart-card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        overflow: hidden;
        background-color: var(--highlight-bg-color);
        padding: 20px;
        margin-bottom: 20px;
        height: 10vh;
        transition: all 0.5s;

        .cart-card-image {
            grid-column: 1;
            display: flex;
            object-fit: contain;
            background-size: cover;
            overflow: hidden;
            height: 100%;
            width: 30%;
            margin-right: 20px;
            max-width: calc(40% - 20px);

            .cover-container {
                position: relative;
                display: flex;
                width: 100%;
                height: 100%;
                overflow: hidden;
                justify-content: center;
                backdrop-filter: blur(5px);
                background-color: var(--highlight-bg-color-translucent);

                img {
                    position: absolute;
                    height: 100%;
                }
            }
        }

        .cart-card-section {
            grid-column: 2;
            display: flex;
            flex-direction: column;
            max-width: calc(45% - 20px);
            margin-right: 20px;
            justify-self: start;

            .cart-card-title {
                text-wrap: nowrap;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                color: white;
                font-size: 1rem;
                font-weight: 300;
                text-transform: uppercase;
                border-bottom: solid 2px var(--text-primary-color);
            }

            .cart-card-text {
                text-overflow: ellipsis;
                text-wrap: nowrap;
                white-space: nowrap;
                overflow: hidden;
            }
        }

        .cart-card-tail {
            grid-column: 3;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(3 1fr);
            width: calc(40% - 20px);

            .cart-card-price {
                grid-column: 1;
                grid-row: 1;
            }

            .cart-card-price-discount {
                grid-column: 1;
                grid-row: 2;
            }

            .cart-card-discount {
                grid-column: 1;
                grid-row: 3;
            }

            button {
                grid-column: 2;
                grid-row: 1;
                background: transparent;
                color: white;
                width: var(--min-btn-width);
            }

            .cart-card-quantity-input {
                grid-column: 2;
                grid-row: 2 / span 3;
                display: flex;
                flex-direction: row;

                button,
                input {
                    display: inline-block;
                    width: calc(var(--min-btn-width) / 3);
                    justify-items: center;
                    justify-content: center;
                    width: 30%;
                }

                button {
                    background-color: var(--highlight-primary-bg-color);
                    color: black;
                }

                input {
                    background-color: var(--accent-color);
                    font-weight: 300;
                    font-size: 1rem;
                    color: white;
                    font-family: Oxanium;

                }
            }

            .cart-card-price,
            .cart-card-price-discount {
                align-self: center;
                font-size: 1.5rem;
                font-weight: 400;
                color: var(--text-primary-color);
            }

            .cart-card-price-discount {
                font-size: 1.5rem;
                font-weight: 500;
                color: var(--text-secondary-color);
            }

            .cart-card-discount {
                align-self: center;
                font-size: 1.5rem;
                font-weight: 300;
                color: var(--text-terciary-color);
            }
        }
    }
}

// #region media
@media (max-width: 1920px) {
    .section-text {
        width: calc(100% - 40px);
    }

    .section-content {
        display: block;
    }

    .section-multimedia {
        width: calc(100% - 40px);

        .section-video {
            height: 100%;
            width: calc(60% - 80px);
        }

        .section-img {
            display: flex;
            flex-direction: column;
            height: calc(60% - 80px);

            img {
                height: 100%;
            }
        }
    }

    .card-container {
        padding: 20px 40px 20px 40px;
        height: auto;
        max-width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;

        .card,
        .card-primary {
            position: relative;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            min-height: 50vh;
            max-height: 50vh;
            overflow: hidden;

            .card-image {
                position: absolute;
                min-height: 100%;
                min-width: 100%;
                width: fit-content;
                overflow: hidden;
                justify-content: center;

                img {
                    justify-self: center;
                    width: fit-content;
                    height: 100%;
                    min-width: 100%;
                    min-height: 100%;
                }
            }

            .card-content {
                z-index: 1;
                background: linear-gradient(to top, rgba(16, 14, 24, 1), rgba(16, 14, 24, 0.5));
            }
        }

        .card-primary {
            grid-column: 1;
            grid-row: 1;
        }
    }

    .product-card-container {
        grid-template-columns: repeat(3, 1fr);

        .product-card-text {
            max-height: 3.2rem;
        }
    }
}

@media only screen and (max-width: 1200px) {

    .section-content {
        .section-multimedia {
            display: block;

            .section-img {
                width: 400px;
            }

            .section-video {
                width: 100%;
                min-width: var(--min-width);
            }
        }
    }

    .footer {
        display: flex;
        flex-direction: column;

        .footer-data {

            .platforms {
                flex-direction: column;

                svg {
                    height: 30px;
                }
            }

            .social-media {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                justify-content: center;
                gap: 5px;

                .svg-twitter,
                .svg-instagram,
                .svg-tiktok,
                .svg-youtube,
                .svg-discord,
                .svg-facebook,
                .svg-twitch {
                    width: 30px;
                    height: 30px;
                }

                svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        .footer-form {
            width: 100%;


        }
    }

    .product-card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 912px) {

    .main-header {
        nav {
            display: flex;
            justify-content: space-between;

            .btn-show {
                cursor: pointer;
                display: contents;
            }

            #control:checked~ul {
                height: 100vh;
            }

            #control:checked~ul li {
                visibility: visible;
            }

            #control~.btn-show::before {
                content: 'menu';
            }

            #control:checked~.btn-show::before {
                content: 'close';
            }

            ul {
                position: fixed;
                flex-direction: column;
                width: 100%;
                top: 105px;
                height: 0;
                left: 0;
                backdrop-filter: blur(10px);
                background: var(--highlight-bg-color-translucent);
                transition: all 0.2s ease-out;

                li {
                    width: 100%;
                    text-align: left;
                    gap: 40px;
                    visibility: collapse;
                    height: calc((100% / 7) - 40px);

                    a,
                    label {
                        display: inline-block;
                        width: 100%;
                        color: var(--text-primary-color);

                        &:hover {
                            background-color: var(--highlight-secondary-bg-color-translucent);
                            color: black;
                        }
                    }
                }
            }
        }
    }

    .footer {
        .footer-form {}
    }

    .product-card-container {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 600px) {

    .main-intro {
        span {
            width: calc(100% - 20px);
        }
    }

    .section-table table {
        min-width: 640px;
        overflow-y: hidden;
    }

    .card-container {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .footer {
        .footer-data {
            .social-media {
                display: grid;
                grid-template-columns: 2fr;
            }
        }
    }

}