html {
  font-family: Oxanium;
  background-color: var(--darkest-bg-color);
  color: var(--text-primary-color);
}

:root {
  --darkest-bg-color: rgb(16, 14, 24);
  --highlight-bg-color: rgb(45, 40, 61);
  --highlight-bg-color-translucent: rgba(45, 40, 61, 0.719);
  --highlight-primary-bg-color-translucent: rgba(212, 186, 39, 0.6);
  --highlight-primary-bg-color: rgb(212, 186, 39);
  --highlight-secondary-bg-color-translucent: rgba(255, 255, 255, 0.6);
  --highlight-secondary-bg-color: rgba(255, 255, 255, 0.8);
  --highlight-input-color: rgb(70, 63, 95);
  --accent-color: rgb(37, 32, 56);
  --text-terciary-color: rgb(126, 126, 126);
  --text-secondary-color: rgb(99, 171, 230);
  --text-primary-color: rgb(255, 255, 255);
  --min-width: 412px;
  --min-element-height: 40px;
  --min-btn-width: 90px;
  --min-input-width: 140px;
  --border-radius-element: 10px;
}

* {
  padding: 0;
  margin: 0;
}

h2 {
  color: var(--text-primary-color);
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 2.5rem;
  font-weight: 200;
}

h3 {
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--text-secondary-color);
  font-weight: 200;
  background-color: linear-gradient(to right, rgb(16, 14, 24), rgba(16, 14, 24, 0.2));
  margin-bottom: 20px;
  margin-top: 20px;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  color: var(--text-primary-color);
  font-weight: 100;
}

.main-header {
  position: sticky;
  display: flex;
  align-items: center;
  max-height: 100px;
  width: 100%;
  top: 0;
  z-index: 5;
}
.main-header nav {
  width: calc(100% - 20px);
  padding: 0px 20px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s;
  text-transform: uppercase;
  background-color: var(--highlight-bg-color-translucent);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.main-header nav span img {
  max-height: 100px;
  padding-left: 20px;
}
.main-header nav .btn-show {
  color: var(--text-secondary-color);
  display: none;
}
.main-header nav input {
  display: none;
}
.main-header nav ul {
  list-style: none;
}
.main-header nav ul li {
  display: inline-block;
}
.main-header nav ul li a {
  text-decoration: none;
  padding: 10px;
  color: white;
  font-weight: 300;
}
.main-header nav ul li a:hover {
  transition: all 0.3s;
  background-color: var(--darkest-bg-color);
}

.main-section {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-size: cover;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  height: 70vh;
  max-width: 100%;
}
#intro cite {
  position: absolute;
  right: 0;
  padding: 20px;
  display: flex;
  color: black;
  font-weight: 500;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.8);
}
#intro #contentIntro {
  position: absolute;
  left: 0;
  bottom: 20vh;
  display: flex;
  flex-direction: column;
  border-top: 2px solid;
  border-color: var(--text-terciary-color);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  text-transform: uppercase;
  padding: 20px;
  width: calc(100% - 40px);
  height: -moz-fit-content;
  height: fit-content;
  background: linear-gradient(to right, rgba(16, 14, 24, 0.315), transparent);
}
#intro #contentIntro h1 {
  font-size: 3rem;
  font-weight: 200;
  color: white;
}
#intro #contentIntro p {
  font-weight: 100;
  font-size: large;
}
#intro #introVideo {
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 0;
  overflow-y: hidden;
  min-height: 70vh;
}

.section-content {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid;
  border-color: var(--text-terciary-color);
}

.section-text {
  text-align: left;
  width: calc(40% - 40px);
}

.section-multimedia {
  display: flex;
  margin: 10px;
  overflow: hidden;
  width: calc(60% - 20px);
  justify-content: space-between;
}
.section-multimedia .section-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: calc(30% - 20px);
}
.section-multimedia .section-img img {
  width: 100%;
}
.section-multimedia .section-video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 50%;
}
.section-multimedia .section-video video {
  width: 100%;
}

.section-table {
  overflow-x: scroll;
}
.section-table table {
  border-collapse: collapse;
  border-width: 4px;
  border-color: var(--accent-color);
  min-width: none;
}
.section-table tr {
  padding-bottom: 20px;
  padding-top: 20px;
}
.section-table th {
  font-weight: 300;
  padding: 10px;
  font-size: medium;
  background-color: var(--accent-color);
  color: var(--text-secondary-color);
}
.section-table td,
.section-table span {
  color: var(--text-primary-color);
  font-size: 600;
  font-weight: 200;
  padding: 10px;
}

.card-container {
  padding: 20px 300px 20px 300px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  overflow-y: hidden;
}
.card-container .card {
  width: 100%;
  height: 50vh;
  background-color: var(--highlight-bg-color);
  transition: all 0.3s;
}
.card-container .card:hover {
  background-color: var(--darkest-bg-color);
  border: 2px solid;
  border-color: var(--text-terciary-color);
  border-spacing: 10px;
}
.card-container .card .card-image {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: calc(50% - 30px);
  height: calc(50% - 30px);
  overflow: hidden;
}
.card-container .card .card-image img {
  overflow: hidden;
  width: 100%;
  min-width: -moz-fit-content;
  min-width: fit-content;
  max-width: 100%;
  height: 100%;
  justify-self: center;
}
.card-container .card .card-content {
  display: block;
  align-content: end;
}
.card-container .card .card-content .card-title {
  display: block;
  text-transform: uppercase;
  padding: 10px;
}
.card-container .card .card-content .card-text {
  display: block;
  padding: 10px;
}
.card-container .card-primary {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column: 1/span 3;
}
.card-container .card-primary .card-image {
  grid-column: 1/span 2;
  grid-row: 1/span 2;
  min-height: 100%;
  width: 100%;
  justify-content: center;
}
.card-container .card-primary .card-image img {
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  min-width: 400px;
}
.card-container .card-primary .card-content .card-title,
.card-container .card-primary .card-content .card-text {
  grid-column: 3;
  grid-row: 1;
}

.card-mc {
  background-image: url("../multimedia/image/master-chief.jpg");
}

input,
button {
  border: 0pt;
  box-shadow: none;
  padding: 10px;
}

.footer {
  display: flex;
  padding: 20px;
  width: calc(100% - 40px);
  justify-content: space-around;
  align-items: baseline;
  background-color: var(--highlight-bg-color);
}
.footer .footer-data {
  display: flex;
  flex-direction: column;
  width: calc(60% - 20px);
  row-gap: 20px;
}
.footer .footer-data .links a {
  gap: 10px;
  text-decoration: none;
  color: whitesmoke;
}
.footer .footer-data .links a:hover {
  transition: 0.5s;
  background-color: var(--highlight-bg-color);
}
.footer .footer-data .social-media,
.footer .footer-data .platforms {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.footer .footer-data .social-media svg,
.footer .footer-data .platforms svg {
  height: 50px;
}
.footer .footer-data .social-media .svg-twitter,
.footer .footer-data .social-media .svg-instagram,
.footer .footer-data .social-media .svg-tiktok,
.footer .footer-data .social-media .svg-youtube,
.footer .footer-data .social-media .svg-discord,
.footer .footer-data .social-media .svg-facebook,
.footer .footer-data .social-media .svg-twitch {
  height: 50px;
  width: 50px;
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.2s ease-in-out;
  border-radius: 200px;
}
.footer .footer-data .social-media .svg-twitter svg,
.footer .footer-data .social-media .svg-instagram svg,
.footer .footer-data .social-media .svg-tiktok svg,
.footer .footer-data .social-media .svg-youtube svg,
.footer .footer-data .social-media .svg-discord svg,
.footer .footer-data .social-media .svg-facebook svg,
.footer .footer-data .social-media .svg-twitch svg {
  width: 40px;
}
.footer .footer-data .social-media .svg-twitter svg path,
.footer .footer-data .social-media .svg-instagram svg path,
.footer .footer-data .social-media .svg-tiktok svg path,
.footer .footer-data .social-media .svg-youtube svg path,
.footer .footer-data .social-media .svg-discord svg path,
.footer .footer-data .social-media .svg-facebook svg path,
.footer .footer-data .social-media .svg-twitch svg path {
  fill: #fff;
}
.footer .footer-data .social-media .svg-twitter:hover {
  background-color: #00b3e1;
}
.footer .footer-data .social-media .svg-instagram:hover {
  background-color: #f00075;
}
.footer .footer-data .social-media .svg-tiktok:hover {
  background-color: #25f4ee;
}
.footer .footer-data .social-media .svg-youtube:hover {
  background-color: red;
}
.footer .footer-data .social-media .svg-discord:hover {
  background-color: #5865f2;
}
.footer .footer-data .social-media .svg-facebook:hover {
  background-color: #3c64a6;
}
.footer .footer-data .social-media .svg-twitch:hover {
  background-color: #9146ff;
}
.footer .footer-form {
  display: flex;
  justify-content: start;
  align-items: center;
}
.footer .footer-form fieldset {
  padding: 20px;
  font-weight: thin;
  border-color: var(--text-terciary-color);
}
.footer .footer-form fieldset input[type=text],
.footer .footer-form fieldset select {
  border: 0px;
  padding: 10px;
  background-color: var(--highlight-input-color);
  color: white;
  width: calc(100% - 20px);
}
.footer .footer-form fieldset textarea {
  resize: none;
  background-color: var(--highlight-input-color);
  margin-bottom: 20px;
}
.footer .footer-form fieldset input:focus,
.footer .footer-form fieldset textarea:focus,
.footer .footer-form fieldset select:focus {
  outline: none;
}

.btn-secondary,
.btn-primary {
  margin: 5px;
  padding: 5px;
  border: solid 1px;
  width: var(--min-btn-width);
  background-color: transparent;
}
.btn-secondary input,
.btn-secondary button,
.btn-primary input,
.btn-primary button {
  min-height: var(--min-element-height);
  text-transform: uppercase;
  font-weight: 200;
  width: 100%;
  height: 100%;
}

.btn-primary {
  border-color: var(--highlight-primary-bg-color);
}
.btn-primary input,
.btn-primary button {
  color: rgb(0, 0, 0);
  background-color: var(--highlight-primary-bg-color);
}
.btn-primary:hover {
  background-color: var(--highlight-primary-bg-color-translucent);
}

.btn-secondary {
  border-color: var(--highlight-secondary-bg-color);
}
.btn-secondary input,
.btn-secondary button {
  color: black;
  background-color: var(--highlight-secondary-bg-color);
}
.btn-secondary:hover {
  background-color: var(--highlight-secondary-bg-color-translucent);
}

.chip {
  padding: 10px;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--highlight-secondary-bg-color-translucent);
  color: black;
  font-weight: 300;
  font-size: large;
  text-transform: uppercase;
}

.product-card-container {
  display: grid;
  width: calc(100% - 40px);
  height: auto;
  padding: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 40px;
}
.product-card-container .product-card {
  position: relative;
  overflow: hidden;
  background-color: var(--highlight-bg-color);
  padding: 20px;
  height: 60vh;
}
.product-card-container .product-card .chip {
  align-self: flex-end;
}
.product-card-container .product-card .product-card-image {
  -o-object-fit: contain;
     object-fit: contain;
  background-size: cover;
  overflow: hidden;
  height: calc(50% - 40px);
}
.product-card-container .product-card .product-card-image .cover-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: var(--highlight-bg-color-translucent);
}
.product-card-container .product-card .product-card-image .cover-container img {
  height: 100%;
  width: calc(40% - 40px);
}
.product-card-container .product-card .product-card-title {
  text-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 20px;
}
.product-card-container .product-card .product-card-bottom {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 20px;
  width: calc(100% - 40px);
}
.product-card-container .product-card .product-card-bottom .product-card-price, .product-card-container .product-card .product-card-bottom .product-card-price-discount {
  align-self: center;
  font-size: 1.7rem;
  font-weight: 400;
  color: var(--text-primary-color);
}
.product-card-container .product-card .product-card-bottom .product-card-price-discount {
  color: var(--text-secondary-color);
  font-size: 2rem;
  font-weight: 500;
}
.product-card-container .product-card .product-card-bottom .product-card-discount {
  align-self: center;
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--text-terciary-color);
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}
.tooltip .tooltiptext:hover {
  visibility: visible;
}

.side-bar {
  position: fixed;
  right: 0;
  top: 100px;
  max-width: 30vw;
  width: 0;
  height: calc(100vh - 40px);
  background-color: var(--accent-color);
  transition: all 0.2s ease-out;
}

@media (max-width: 1920px) {
  .section-text {
    width: calc(100% - 40px);
  }
  .section-content {
    display: block;
  }
  .section-multimedia {
    width: calc(100% - 40px);
  }
  .section-multimedia .section-video {
    height: 100%;
    width: calc(60% - 80px);
  }
  .section-multimedia .section-img {
    display: flex;
    flex-direction: column;
    height: calc(60% - 80px);
  }
  .section-multimedia .section-img img {
    height: 100%;
  }
  .card-container {
    padding: 20px 40px 20px 40px;
    height: auto;
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .card-container .card,
  .card-container .card-primary {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    min-height: 50vh;
    max-height: 50vh;
    overflow: hidden;
  }
  .card-container .card .card-image,
  .card-container .card-primary .card-image {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    width: -moz-fit-content;
    width: fit-content;
    overflow: hidden;
    justify-content: center;
  }
  .card-container .card .card-image img,
  .card-container .card-primary .card-image img {
    justify-self: center;
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
  }
  .card-container .card .card-content,
  .card-container .card-primary .card-content {
    z-index: 1;
    background: linear-gradient(to top, rgb(16, 14, 24), rgba(16, 14, 24, 0.5));
  }
  .card-container .card-primary {
    grid-column: 1;
    grid-row: 1;
  }
  .product-card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 1200px) {
  .section-content .section-multimedia {
    display: block;
  }
  .section-content .section-multimedia .section-img {
    width: 400px;
  }
  .section-content .section-multimedia .section-video {
    width: 100%;
    min-width: var(--min-width);
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer .footer-data .platforms {
    flex-direction: column;
  }
  .footer .footer-data .platforms svg {
    height: 30px;
  }
  .footer .footer-data .social-media {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 5px;
  }
  .footer .footer-data .social-media .svg-twitter,
  .footer .footer-data .social-media .svg-instagram,
  .footer .footer-data .social-media .svg-tiktok,
  .footer .footer-data .social-media .svg-youtube,
  .footer .footer-data .social-media .svg-discord,
  .footer .footer-data .social-media .svg-facebook,
  .footer .footer-data .social-media .svg-twitch {
    width: 30px;
    height: 30px;
  }
  .footer .footer-data .social-media svg {
    width: 20px;
    height: 20px;
  }
  .product-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 912px) {
  .main-header nav {
    display: flex;
    justify-content: space-between;
  }
  .main-header nav .btn-show {
    cursor: pointer;
    display: contents;
  }
  .main-header nav #control:checked ~ ul {
    height: 100vh;
  }
  .main-header nav #control:checked ~ ul li {
    visibility: visible;
  }
  .main-header nav #control ~ .btn-show::before {
    content: "menu";
  }
  .main-header nav #control:checked ~ .btn-show::before {
    content: "close";
  }
  .main-header nav ul {
    position: fixed;
    width: 100%;
    top: 105px;
    height: 0;
    left: 0;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    background: var(--highlight-bg-color-translucent);
    transition: all 0.2s ease-out;
  }
  .main-header nav ul li {
    display: inline-block;
    width: 100%;
    text-align: left;
    gap: 40px;
    visibility: collapse;
  }
  .main-header nav ul li a {
    display: inline-block;
    width: 100%;
    color: var(--text-primary-color);
  }
  .main-header nav ul li a:hover {
    background-color: var(--highlight-secondary-bg-color-translucent);
    color: black;
  }
  .product-card-container {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 600px) {
  .main-intro span {
    width: calc(100% - 20px);
  }
  .section-table table {
    min-width: 640px;
    overflow-y: hidden;
  }
  .card-container {
    grid-template-columns: 1fr;
    padding: 20px;
  }
  .footer .footer-data .social-media {
    display: grid;
    grid-template-columns: 2fr;
  }
}/*# sourceMappingURL=styles.css.map */