<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Pagina donde se muestra el portafolio de Humberto">
        <meta name="keywords" content="HTML,desarrollo web, herramientas que he utilizado, portafolio de Humberto, desarrollador web, Ingeniero Humberto">
        <meta name="author" content="Humberto Gonzalez">
        <link rel="canonical" content="https://portfolio.com">
        <link rel="stylesheet" href="styles.css">
        <link rel="shortcut icon" type="image/x-icon" href="laptop.webp">
        <title>Document</title>
    </head>
    <body>
        <h1>Portafolio de Humberto</h1>
        <p>Humberto es Ingeniero en Sistemas Computacionales con 1 anio de experiencia</p>
        <nav>
            <a href="#proyectos">proyectos</a>
            <a href="#herramientas">herramientas</a>
        </nav>
        <ol>
            <li>Java</li>
            <li>Javascript</li>
            <li>Typescript</li>
            <li>ReactNative</li>
            <li>Kotlin</li>
            <li>C#</li>
            <li>Oracle SQL</li>
            <li>MySQL</li>
        </ol>
        <h2 id="proyectos">Proyectos en los que he participado</h2>
        <article>
            <h3>Creditos</h3>
            <p>Lorem ipsum dolor sit amet 
                consectetur adipisicing elit. 
                Exercitationem, eum?</p>
        </article>
        <h2 id="herramientas">Herramientas</h2>
        <ol>
            <li>
                <span>
                    <strong>Visual Studio Code</strong>
                    <p>He trabajado con este editor de texto por al menos 3 anios</p>
                </span>
            </li>
            <li>Node
                <ol>
                    <li>version 18</li>
                    <li>Express</li>
                    <li>Axios</li>
                    <li>Sequelize</li>
                </ol>
            </li>
            <li>NetBeans</li>
            <li>Visual Studio Community 22</li>
            <li>Lorem ipsum dolor sit.</li>
        </ol>
        <h2></h2>
        <aside>
            <h2>Hobbies</h2>
            <ul>
                <li>Dibujar</li>
                <li>Videojuegosa</li>
            </ul>
            <img src="laptop.webp" width="200" height="200">
            <audio controls>
                <source src="audio.mp3" type="audio/mpeg">
                Tu navegador no soporta audio
            </audio>
            <video controls width="300" height="200">
                <source src="Los Del Rio - Macarena (Bayside Boys Remix).mp4" type="video/mp4">
                Tu navegador no soporta video
            </video>
        </aside>
    </body>
</html>